:root {
  --font-family: Nunito, sans-serif;
  --primary-color: #9051a8;
  --primary-dark-color: #4a2d6e;
  --primary-darker-color: #0d163a;
  --secondary-color: #00b2c4;
  --secondary-dark-color: #00809e;
  --dark-color: #191919;
  --light-color: #ffffff;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
